body{
  background-color: #333;
  font-family: sans-serif;
  color:#ddd;
  margin: 0;
}
.card {/*las cartas*/
  background: transparent;
  text-align: left;
  width: 90%;
  margin:auto;
  margin-top: 50px;
  padding:10px 15px;
  border-radius: 8px;
  margin-top: 40px;
  box-sizing: border-box;
   background: linear-gradient(to bottom, transparent 50%, #daa520);
}

.card_title {
  padding-top: 0;
  font-size: 22px;
  margin: 0;
  text-align: left;
}

.card_subtitle {
  font-size: 11px;
  font-weight: 100px;
  letter-spacing: 2px;
  margin: 0;
  margin-top: 5px;
  text-align: right;
  
}
h3{
  text-align: left;
  padding: 10px;
  padding-top: 0;
}

.listapremium{/*la imagen*/
  background-image: url("inscribete2.jpg");
  text-align: bottom;
  padding-top: 0px;
  color: white;
  font-size: 30px;
  padding-bottom: 30px;
  
}
.opaco {/*opacidad de la imagen background*/
  height: 100%;
  width: 100%;
  background-color: rgba(218, 165, 96, 0.4);
}

fieldset {
  border-radius: 5px;
  border: 1px solid goldenrod;
  padding: 6px 6px 20px 6px;
  margin: 20px;
  /*el borde dentro del formulario*/
}
legend {
  padding: 0 6px;
  color: #777; 
}

.form{
  text-align: center;
  font-size: 40px;
  padding-bottom: 60px;
}

.casa{
  padding: 20px;
  padding-top: 40px;
  color: #fff;
  
}
a{
  color: #fff;
  padding-left: 20px;
}